$cultured: #f5f6f7;
$grullo: #a99b77;
$arsenic: #424242;

/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* reset css end */
html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  background-color: #fff;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 12px;
  padding-left: 12px;
}

.grid {
  &-row {
    display: flex;
    flex-flow: row wrap;
    row-gap: 24px;
    margin-right: -12px;
    margin-left: -12px;
  }

  &-col {
    position: relative;
    display: block;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;

    @media screen and (max-width: 576px) {
      &-xs-24 {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    @media screen and (min-width: 576px) {
      &-sm-24 {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }

    @media screen and (min-width: 768px) {
      &-md-12 {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
    @media screen and (min-width: 992px) {
      &-lg-8 {
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
      }
    }

    @media screen and (min-width: 1200px) {
      &-xl-8 {
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
      }
    }

    &-8 {
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%;
    }

    &-12 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

.jumbotron {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 28px 0;
  background-image: url("./images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__header {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 728px;
    color: #fff;
    text-align: center;
    transform: translate(-50%, -50%);

    &-title {
      padding: 0 12px;
      font-size: 3.75rem;
      @media screen and (max-width: 576px) {
        font-size: 3rem;
      }
    }

    &-subtext {
      margin-top: 18px;
      padding: 0 12px;
      font-size: 1.25rem;
    }
  }
}

@mixin toggler {
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__brand {
    padding: 12px;
  }

  &__toggler {
    position: relative;
    display: none;
    width: 40px;
    height: 24px;
    margin-left: 30px;
    padding: 0;
    vertical-align: middle;
    background: transparent;
    border: none;
    cursor: pointer;
    @media screen and (max-width: 576px) {
      display: inline-block;
    }

    &--active {
      .navbar__toggler {
        &-inner {
          transform: translate3d(0, 10px, 0) rotate(45deg);

          &::before {
            transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
            opacity: 0;
          }

          &::after {
            transform: translate3d(0, -20px, 0) rotate(-90deg);
          }
        }
      }
    }

    &-inner {
      top: 2px;
      display: block;
      margin-top: -2px;
      @include toggler;

      &::before {
        top: 10px;
        transition-timing-function: ease;
        transition-duration: 0.15s;
        transition-property: transform, opacity;
      }

      &::before,
      &::after {
        display: block;
        content: "";
        @include toggler;
      }

      &::after {
        top: 20px;
      }
    }
  }

  &__nav {
    @media screen and (min-width: 576px) {
      display: inline-block;

      &--collapsed {
        display: inline-block;
      }
    }
    @media screen and (max-width: 576px) {
      position: absolute;
      top: 64px;
      right: 0;
      bottom: 0;
      left: 0;

      &--collapsed {
        display: none;
      }
    }
  }

  &__list {
    @media screen and (max-width: 576px) {
      background: #fff;
    }

    li {
      display: inline-block;
      @media screen and (max-width: 576px) {
        display: block;
      }
    }

    &-link {
      display: block;
      padding: 12px 28px;
      color: #fff;
      font-size: 1.125rem;
      text-decoration: none;
      @media screen and (max-width: 576px) {
        color: #333;
      }
    }
  }

  &__cart {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 12px;
    padding: 0;
    vertical-align: middle;
  }
}

.scroll-button {
  position: absolute;
  right: calc(50% - 1.099rem);
  bottom: 40px;
  display: block;
  box-sizing: content-box;
  width: 2.188rem;
  height: 2.188rem;
  padding: 0;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.products {
  min-height: 100vh;

  &__list {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__item {
    position: relative;
    padding: 50px 18px 24px;
    text-align: center;
    background-color: $cultured;
    border: 6px solid transparent;

    img {
      max-width: 100%;
    }

    &:hover {
      border-color: $grullo;
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      margin-top: 1.25rem;
      color: $arsenic;
      font-size: 1.125rem;
    }

    &-name {
      color: $grullo;
      text-transform: uppercase;
    }

    &-select {
      position: absolute;
      top: 24px;
      left: 24px;
      box-sizing: border-box;
      padding: 3px 20px 3px 3px;
      color: #424242;
      font-size: 1rem;
      text-transform: uppercase;
      background-color: transparent;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='12px' viewBox='0 0 20 12' version='1.1'%3E%3Cg%3E%3Cpath d='M 10 7.375 L 5.601562 2.828125 C 5.273438 2.488281 4.742188 2.488281 4.414062 2.828125 C 4.085938 3.164062 4.085938 3.71875 4.414062 4.058594 L 9.363281 9.175781 C 9.539062 9.359375 9.769531 9.441406 10 9.425781 C 10.230469 9.441406 10.460938 9.359375 10.636719 9.175781 L 15.585938 4.058594 C 15.914062 3.71875 15.914062 3.167969 15.585938 2.828125 C 15.257812 2.488281 14.726562 2.488281 14.398438 2.828125 Z M 10 7.375 '/%3E%3C/g%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: right;
      border: none;
      appearance: none;

      &:focus-visible {
        outline: 2px solid #cbcbcb;
      }
    }
  }

  &__filter {
    padding: 40px 0;
    background-color: #f5f5f7;

    &-form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: 576px) {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
      }
    }

    &-clear {
      padding: 20px 10px;
      color: #fff;
      text-transform: uppercase;
      background-color: $grullo;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

/* checkbox */
.checkbox {
  position: relative;
  display: inline-block;
  margin-right: 40px;
  padding: 0 0 6px 43px;
  color: #333;
  font-size: 1.125rem;
  line-height: 1.5;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border: 2px solid #cbcbcb;
    border-radius: 5px;

    &::after {
      position: absolute;
      top: 2px;
      left: 6px;
      display: none;
      width: 6px;
      height: 11px;
      border: solid $grullo;
      border-width: 0 4px 4px 0;
      transform: rotate(45deg);
      content: "";
    }
  }

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    cursor: pointer;
    opacity: 0;

    &:focus-visible ~ .checkbox__checkmark {
      outline: 2px solid black;
    }

    &:checked ~ .checkbox__checkmark {
      &::after {
        display: block;
      }

      border-color: $grullo;
    }
  }
}

.info {
  padding-top: 24px;
  padding-bottom: 24px;
  color: #fff;
  background-color: #535153;

  &__img {
    margin-right: 20px;
    vertical-align: middle;
  }
}

.footer {
  padding: 110px 0;
  color: #fff;
  background-color: #414141;

  &__title {
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  &__subtext {
    max-width: 300px;
    margin-top: 24px;
    font-size: 0.625rem;
    text-transform: uppercase;
  }

  &__item-right {
    text-align: right;
  }

  &__nav {
    &-item {
      display: inline-block;
      padding: 0 4px;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      border-right: 1px solid $grullo;

      &:last-of-type {
        padding-right: 0;
        border-right: none;
      }
    }
  }

  &__copyright {
    margin-top: 14px;
  }

  @media screen and (max-width: 576px) {
    &__subtext,
    &__title,
    &__item-right {
      max-width: none;
      text-align: center;
    }
  }
}

.align-center {
  align-items: center;
}
